/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 50px;
}

button.open-form-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.open-form-button:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
}

.modal-content label {
  font-size: 16px; /* Slightly larger font size */
  font-weight: bold; /* Make text bold */
  color: black; /* Black color */
  text-align: center; /* Ensure text is centered */
  margin-top: 10px;
}

.modal-content input {
  padding: 8px;
  margin-top: 5px;
  width: 90%; /* Input width to ensure consistency */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

button.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.submit-button:hover {
  background-color: #0056b3;
}
